@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito Sans;
  background-color: $background-color;
  color: $text-color-white;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}
