.app {
  height: 100vh;
  overflow-y: hidden;
  .app__title {
    background: #222;
    padding: 2rem;
    background-image: linear-gradient(12deg, #000000 0%, #1e3042 64%);
    text-align: center;
  }

  background-color: $background-app-color;
  .app__country {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $background-app-color;

    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    background-image: linear-gradient(125deg, #000000 0%, #1e3042 64%);

    height: 60vh;
    border-bottom: 2px solid $text-color-white;
    // margin: 0 2rem 1.5rem 2rem;
  }

  .app__matual {
    height: 30vh;
    overflow-y: auto;
    text-align: center;
    color: $text-color-white;
    background-color: #3d5063;
    h2 {
      margin: 2rem 0 1rem 0;
    }
  }
}
