.app {
  height: 100vh;
  overflow-y: hidden;
  .app__title {
    background: #222;
    padding: 2rem;
    background-image: linear-gradient(12deg, #000000 0%, #1e3042 64%);
    text-align: center;
  }

  background-color: $background-app-color;
  .app__country {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $background-app-color;
    background-image: linear-gradient(
      125deg,
      $background-black 0%,
      $background-not-matual-country 64%
    );
    height: 55vh;
    border-bottom: 2px solid $text-color-white;

    @media screen and (max-width: $breakpoint-s) {
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
    }
  }

  .app__matual {
    height: 35vh;
    overflow-y: auto;
    text-align: center;
    color: $text-color-white;
    background-color: $background-matual-country;
    h2 {
      font-weight: $text-light;
      margin: 2rem 0 1rem 0;
    }
    .app__matual-title {
      letter-spacing: 1.5rem;
      font-weight: $text-bold;
    }
    .app__matual-nomatch {
      font-weight: $text-super-light;
    }
    .app__matual-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;

      @media screen and (max-width: $breakpoint-l) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: $breakpoint-s) {
        grid-template-columns: 1fr;
      }
    }
    .app__matual-country {
      background-color: white;
      color: $background-black;
      border-radius: 8px;
      width: 400px;
      padding: 0.5rem;
      margin: 1rem auto;
      box-shadow: 0 10px 5px rgba($color: $background-black, $alpha: 0.2);
      &:hover {
        transform: translateY(10px);
        box-shadow: none;
      }
      @media screen and (max-width: $breakpoint-ss) {
        width: 250px;
      }
    }
  }
}
