.countrylist__name {
  //   text-orientation: sideways;
  writing-mode: vertical-lr;
  margin: 0 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $text-color-white;
  @media screen and (max-width: $breakpoint-m) {
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: $breakpoint-s) {
    writing-mode: horizontal-tb;
    margin: 0 1rem;
    margin-bottom: 1rem;
    border: none;
    font-weight: $text-light;
  }

  &:hover {
    border: none;
  }
}
